<!DOCTYPE html>
<html lang="en">
<title>ProMan</title>
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400, 700&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="../static/bootstrap.css" type="text/css"

</head>
<body>
<header class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <a href="/"> <h1 class="col-lg-4">Teemo to hell</h1> </a>
                <nav class="col-lg-8">
                    <a href="">menu 1</a>
                    <a href="">menu 2</a>
                    <a href="">menu 3</a>
                    <a href="">menu 4</a>
                </nav>
            </div>
        </div>
    </div>


</header>


<script type="text/javascript">
function showStuff(id, text, btn) {
    document.getElementById(id).style.display = 'block';
    // hide the lorem ipsum text
    document.getElementById(text).style.display = 'none';
    // hide the link
    btn.style.display = 'none';
}
</script>


<td class="post">

<a href="#" onclick="showStuff('answer1', 'text1', this); return false;">Új tábla létrehozása...</a>
<span id="answer1" style="display: none;">
<textarea rows="10" cols="20"></textarea>
</span>

<span id="text1"></span>
</td>
</body>
</html>